.imprimir-somente {
    display: none;
  }
  
.title-print {
  display: none;
}

.header-print {
  display: none;
}

  @media print {
    @page {
      size: 300mm 300mm;
      border: 0 !important;
      background: #fff !important;
      box-shadow: none !important;
    }
    .text-p {
      font-size: 22px !important;
      color: #505050 !important;
      font-weight: 900 !important;
    }
    .span-print {
      font-size: 22px !important;
      color: #505050 !important;
      font-weight: 500 !important;
    }
 
    .imprimir-somente {
      display: block !important;
      font-size: 22px !important;
      color: #505050 !important;
      font-weight: 900 !important;
    }
    .title-print {
      display: block !important;
      color: #505050 !important;
      font-weight: 900 !important;
      font-size: 42px !important;
      text-align: center !important;
      align-items: center !important;
    }
    .header-print {
      display: block !important;
      margin-bottom: '200px' !important;
    }
  }
  