.etiqueta-remarcacao-card {
    min-width: 23%;
    height: 1.5cm;
    margin-right: 2%;
    margin-bottom: 0.5in;
    padding: 0px !important;
    box-sizing: border-box;
    border: 0.5px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rounded {
    border-radius: 4px !important;
}

.border-dark {
    border-color: #505050 !important;
}

.etiqueta-remarcacao-page-number {
    position: absolute;
    top: 82%;
    left: 1%;
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.etiqueta-remarcacao-page {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    position: relative;
    margin: 2%;
    min-width: 640px !important;
    max-width: 100% !important;
    height: 3cm;
    background: white;
    -webkit-box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    background-size: cover;
    padding: 2rem 0 0 2rem;
    border-radius: 4px !important;
}

.etiqueta-remarcacao-page-number {
    position: absolute;
    top: 82%;
    left: 1%;
    font-size: 12px;
    font-weight: bold;
    color: black;
}